@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-200;
  }
}

*{
    
    scrollbar-width: none;
    -ms-overflow-style:none;
}

::-webkit-scrollbar{
    display: none;
}